<style>
body{
	font-family:arial;
}

.percentage_bar{
	width:500px;
	height:30px;
	float:left;
}
.fast{
	height:100%;
	background:#009a2d;
	float:left;
}
.average{
	height:100%;
	background:#fda100;
	float:left;
}
.slow{
	height:100%;
	background:#dd4b39;
	float:left;
}
</style>
<%
	require 'net/https'
	require 'json'
	require 'uri'


	key = 'AIzaSyAnL_4p07YTsjkM--F0N2sLEEC4l2TXVck'
	strategy = 'mobile'
	domain = 'http://bhajanaarti.com/'
	url = "https://www.googleapis.com/pagespeedonline/v4/runPagespeed?url=" + \
	      URI.encode(domain) + \
				      "&key=#{key}&strategy=#{strategy}"


	uri = URI.parse(url)
	http = Net::HTTP.new(uri.host, uri.port)
	http.use_ssl = true
	http.verify_mode = OpenSSL::SSL::VERIFY_NONE
	request = Net::HTTP::Get.new(uri.request_uri)
	response = http.request(request)
	data = JSON.parse(response.body)

	parameters = ['AvoidLandingPageRedirects','EnableGzipCompression','LeverageBrowserCaching','MainResourceServerResponseTime','MinifyCss','MinifyHTML','MinifyJavaScript','MinimizeRenderBlockingResources','OptimizeImages','PrioritizeVisibleContent']
%>

<h2>Page Speed Score : <%= data['ruleGroups']['SPEED']['score'] %></h2>


<%
	fcp_fast = data['loadingExperience']['metrics']['FIRST_CONTENTFUL_PAINT_MS']['distributions'][0]['proportion']*100
	fcp_average = data['loadingExperience']['metrics']['FIRST_CONTENTFUL_PAINT_MS']['distributions'][1]['proportion']*100
	fcp_slow = data['loadingExperience']['metrics']['FIRST_CONTENTFUL_PAINT_MS']['distributions'][2]['proportion']*100
	fcp_cat = data['loadingExperience']['metrics']['FIRST_CONTENTFUL_PAINT_MS']['category']

	dcl_fast = data['loadingExperience']['metrics']['DOM_CONTENT_LOADED_EVENT_FIRED_MS']['distributions'][0]['proportion']*100
	dcl_average = data['loadingExperience']['metrics']['DOM_CONTENT_LOADED_EVENT_FIRED_MS']['distributions'][1]['proportion']*100
	dcl_slow = data['loadingExperience']['metrics']['DOM_CONTENT_LOADED_EVENT_FIRED_MS']['distributions'][2]['proportion']*100
	dcl_cat = data['loadingExperience']['metrics']['DOM_CONTENT_LOADED_EVENT_FIRED_MS']['category']
%>
<table>
	<tr>
		<td> FCP </td>
		<td>
			<div class = 'percentage_bar'>
				<div class = 'fast' style = 'width:<%=fcp_fast %>%;'></div>
				<div class = 'average' style = 'width:<%=fcp_average %>%;'></div>
				<div class = 'slow' style = 'width:<%=fcp_slow %>%;'></div>
			</div>
		</td>
		<td><%= fcp_cat %></td>
		<tr>
			<td> DCL </td>
			<td>
				<div class = 'percentage_bar'>
					<div class = 'fast' style = 'width:<%=dcl_fast %>%;'></div>
					<div class = 'average' style = 'width:<%=dcl_average %>%;'></div>
					<div class = 'slow' style = 'width:<%=dcl_slow %>%;'></div>
				</div>
			</td>
			<td><%= dcl_cat %></td>
		</tr>
</table>

<h2> Optimization Report </h2>
<ol>
	<%	parameters.each do |parameter| %>
		<% current_factor = data['formattedResults']['ruleResults'][parameter] %>
		<li><%= current_factor['localizedRuleName'] %></li>
		<%	current_factor.each do |key,value|	%>
			<% if key == 'ruleImpact' %>
				Impact :
				<span style='color:<%= value==0?'#96CB7F':'#F00' %>; font-weight:bold;'>
					<%= value.to_f.round(3) %>
				</span>
				<br>
			<% elsif key == 'summary' %>
				<% summary = value %>
				<% format = '' %>
				<% summary.each do |summaryKey, summaryValue| %>
					<% if summaryKey == 'format' %>
						<% format =  summaryValue %>
					<% elsif summaryKey == 'args' %>
						<% if !format.index('BEGIN_LINK')%>
							<% summaryValue.each do |arg| %>
								<% if arg['key'] %>
									<% format.gsub!("{{#{arg['key']}}}",arg['value'])	%>
								<% else %>
									<% format = summaryValue %>
								<% end %>
							<% end %>
						<%else%>
							<% summaryValue.each do |arg| %>
								<% format.gsub!("{{BEGIN_LINK}}", "<a href = \'#{arg['value']}\'>") %>
								<% format.gsub!("{{END_LINK}}", "</a>") %>
							<%end%>
						<%end%>
					<% end %>
				<% end %>
				<strong style='font-size:18px;'><%=format.html_safe %></strong>
			<% elsif key == 'urlBlocks' %>
				<% value.each do |urlBlock|  %>
					<% urlBlock.each do |urlBlockKey,urlBlockValue| %>
						<% if urlBlockKey == 'header' %>
							<% format = '' %>
							<% urlBlockValue.each do |eachUrlBlockKey,eachUrlBlockValue| %>
								<% if eachUrlBlockKey == 'format' %>
									<%format = eachUrlBlockValue %>
								<% end %>
								<% if eachUrlBlockKey == 'args' %>
									<% eachUrlBlockValue.each do |argsHeaderUrlBlock| %>
										<% format.gsub!("{{#{argsHeaderUrlBlock['key']}}}",argsHeaderUrlBlock['value']) %>
									<% end %>
								<% end %>
							<% end %>
						<% elsif urlBlockKey == 'urls' %>
							<% urlBlockValue.each do |eachUrlBlockValue| %>
								<% eachUrlBlockValue.each do |eachUrlBlockValueKey,eachUrlBlockValueValue| %>
									<% if eachUrlBlockValueKey == 'result' %>
										<% format = "" %>
										<ul>
										<% eachUrlBlockValueValue.each do |key,value| %>
											<% if key == 'format' %>
												<% format = value %>
											<% end %>
											<% if key == 'args' %>
												<% value.each do |v| %>
													<% format.gsub!("{{#{v['key']}}}", v['value']) %>
												<% end %>
												<li><%= format %></li>
											<% end %>
										<% end %>
										</ul>
									<% end %>
								<% end %>
							<%end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</ol>
